<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSHomeKitUsageDescription</key>
    <string>Cette application a besoin d'accéder à vos accessoires HomeKit pour afficher les données de capteurs sur l'écran de verrouillage.</string>
</dict>
</plist>